<label>Server Name</label>

<!-- Data binding by method calling -->
<!-- <input type="text" class="form-control" (input)="OnUpdateServerName($event)"> -->

<!-- Two way data binding -->
<input type="text" class="form-control" [(ngModel)]="serverName"> <br>


<div class="row">
    <div class="col-md-3">
        <button class="btn btn-secondary" [disabled]="!serverName" (click)="onCreateServer()">

            Add Server

        </button>



    </div>
    <div class="col-md-3">
        <button class="btn btn-info" [disabled]="serverName===''" (click)="serverName=''">

            Reset

        </button>

    </div>
    <div class="col-md-6">
        <button *ngIf="serverCreated" class="btn btn-danger" (click)="deleteServers()">

            Delete All

        </button>

    </div>

</div>
<br>
<p class="list-group-item list-group-item-action list-group-item-success" *ngIf="serverCreated;">
    {{ ServerCreatedStatus }}</p>

<!-- else if logic -->
<!-- <ng-template #DelServer>
    <p class="list-group-item list-group-item-action list-group-item-danger" *ngIf="serverDeleted;">
        Server Deleted </p>
</ng-template> -->
<p class="list-group-item list-group-item-action list-group-item-secondary" *ngIf="serverCreated;">My Servers</p>


<ul class="list-group">
    <li *ngFor="let server of servers; let i = index"
        class="list-group-item d-flex justify-content-between align-items-center">
        {{server}}
        <button type="button" class="btn btn-danger" (click)="servers.splice(i, 1)">Delete</button>
    </li>
</ul>