<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>Recipe Name</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-4" style="margin-right: 20px;">
        <button class="btn btn-secondary">To Shopping List</button>

    </div>
    <div class="col-xs-4" style="margin-right: 20px;">
        <button class=" btn btn-secondary">Edit Recipe</button>

    </div>
    <div class="col-xs-4" style="margin-right: 20px;">
        <button class="btn btn-secondary">Delete Recipe</button>

    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>Description</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>Ingredients</p>
    </div>
</div>